<div class="register-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Register</mat-card-title>
    </mat-card-header>

    <mat-card-content class="register-content">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <mat-form-field class="register-fields">
          <input matInput placeholder="Username" formControlName="username" />
        </mat-form-field>

        <mat-form-field class="register-fields">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!registerForm.valid"
        >
          Register
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
