.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
}

.login-fields {
  width: 18em;
}

.title {
  padding: 1em 1em 1em 0.1em;
  font-size: 1.5em;
}

.login-container {
  position: relative;
}

.signup-link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.signup-link a {
  color: grey;
  font-size: 18px;
  cursor: pointer;
}

.signup-link a:hover {
  text-decoration: underline;
}
