.split-container {
  display: flex;
  height: 100%;
}

.left {
  width: 50%;
  border-right: 2px solid grey;
  padding: 10px;
}

.right {
  width: 50%;
  padding: 10px;
  overflow-y: auto;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  font-size: 16px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.fab-container button {
  background-color: black;
}
