<div class="split-container">
  <div class="left">
    <textarea [(ngModel)]="markdownText" (input)="onInputChanged()"></textarea>
  </div>
  <div class="right">
    <div [innerHTML]="renderedMarkdown"></div>
  </div>
</div>

<div class="fab-container">
  <button mat-fab color="primary" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
</div>
